{% extends "layout.html" %}

{% block body %}
    <div class='dashboard-wrapper'>
        <div class='logout-wrapper'>
            <form action='/logout' id='logout' method='post' name='logout'>
                <input type="submit" name='logout-button' class="btn btn-link" value="Logout" />
            <form>
        </div>
        <div class='search-wrapper'>
            <form id='search-form' class='form-inline' name='search-form' action='/search' method='post'>
                <div class="form-group">
                    <input type="text" class="form-control" id="search" placeholder="Search...">
                </div>

                <input type="submit" name='search-button' class="btn btn-primary" value='Search' />
            </form>
        </div>
    </div>
    {% block style %}
        <style>
            .dashboard-wrapper {
                display: flex;
                width: 768px;
                height: 100%;
                flex-direction: column;
                margin: 0 auto;
            }

            .logout-wrapper {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                padding: 15px 0px;
            }

            .search-wrapper {
                margin-top: 50px;
                display: -webkit-inline-box;
            }

            .search-wrapper > .form-group {
                width: calc(100% - 80px);
                margin-right: 7px;
            }
            
       </style>
    {% endblock %}
{% endblock%}
