{% extends "layout.html" %}

{% block body %}
    <div class='dashboard-wrapper'>
        <div class='link-wrapper'>
            <a href="/logout">Logout</a>
        </div>
        <div class='search-wrapper'>
            <form id='search-form' class='search-form' name='search' action='/search' method='post'>
                <div class="form-group">
                    <input type="text" class="form-control" id="search" name='search' placeholder="Search...">
                </div>

                <input type="submit" name='search-button' class="btn btn-outline-secondary" value='Search' />
            </form>
        </div>
    </div>
    {% block style %}
        <style>
            .dashboard-wrapper {
                display: flex;
                width: 100%;
                height: 100vh;
                flex-direction: column;
                margin: 0 auto;
            }

            .link-wrapper {
                text-align: right;
                padding: 15px;
            }

            .search-wrapper {
                height: 100%;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                transform: translate(0, -20%);
            }

            .search-form {
                display: flex;
                flex-direction: row;
            }

            .search-form .form-group {
                margin-bottom: 0;
                width: 600px;
                margin-right: 5px;
            }
            
       </style>
    {% endblock %}
{% endblock%}
