{% extends "layout.html" %}

{% block body %}
    <div class='dashboard-wrapper'>
        <div class='link-wrapper'>
            <a href="/logout">Logout</a>
        </div>
        <div class='search-wrapper'>
            <form id='search-form' class='search-form' action='/search' method='post'>
                <div class="form-group">
                    <input type="text" class="form-control" id="search" name='search' placeholder="Search...">
                </div>

                <input type="submit" name='search-button' class="btn btn-outline-secondary" value='Search' />
            </form>
        </div>

        <div class='results-wrapper'>
            <ul class="list-group">
                {% for value in values %}
                    <li class="item">
                        <a href={{ url_for('book', isbn=value.isbn) }}>{{ value.author }}</a>
                        <span class="list-item-title">{{ value.title }}</span>
                        <span class="list-item-year">{{ value.year }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% block style %}
        <style>
            .dashboard-wrapper {
                display: flex;
                width: 100%;
                height: 100vh;
                flex-direction: column;
                margin: 0 auto;
            }

            .link-wrapper {
                text-align: right;
                padding: 15px;
            }

            .search-wrapper {
                height: 100%;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .search-form {
                display: flex;
                flex-direction: row;
            }

            .search-form .form-group {
                margin-bottom: 0;
                width: 600px;
                margin-right: 5px;
            }

            .results-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            .list-group {
                margin-top: 25px;
                list-style: none;
            }

            .list-item-title {
                font-size: 14px;
                font-weight: 600;
                color: gray;
            }

            .list-item-year {
                font-size: 14px;
                font-weight: bold;
                color: black;
            }
       </style>
    {% endblock %}
{% endblock%}
